@import "tailwindcss";
@import "tailwindcss/utilities";

/* Enable DaisyUI directly (v4 feature) */
@plugin "daisyui" {
  themes: [
    {
      light: {
        ...require("daisyui/src/colors/themes")["[data-theme=light]"],
      },
      dark: {
        ...require("daisyui/src/colors/themes")["[data-theme=dark]"],
      },
    },
  ];
}

/* Add RTL support */
@layer base {
  [dir="rtl"] {
    direction: rtl;
  }

  [dir="ltr"] {
    direction: ltr;
  }
}

/* adding custom font */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
